/* Bāzes iestatījumi */

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root{
   

    /* Krāsas */
    --bazes_teksta_krasa:#0C0F13;
    --bazes_fona_krasa:#F8F8F8;
    --bazes_saites_krasa:#0F19DB;
    --navigacijas_fona_krasa:#FFFFFF;
    --pogas_fona_krasa:#0A007C;
    --pogas_teksta_krasa:#fff;
    --ikonu_krasa:#000002;
    --ikonu_teksta_krasa:#05E7FF;

    /* Šrifti */
    --bazes_fonts:  "Roboto", sans-serif;


    box-sizing: border-box;
    font-size: 14pt;
    font-family: var(--bazes_fonts);
    scroll-behavior: smooth;
}

*{
    margin:0;padding:0
    /* atceļam atkāpes visiem elementiem */
}

/* hederis */
header{
    display: flex;
    justify-content: space-around;
    padding:5px 3rem;
    background-color: var(--navigacijas_fona_krasa);
}
.logo{
    display: flex;
    justify-content: flex-start;
    align-items:start;
}

.logo img{
    width: 70px;
    height:70px;
}

.logo_text{
    font-size: 3rem;
    font-weight: 900;
    margin:0px;
}

.navigation{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.navigation a{
    text-decoration: none;
    color:var(--bazes_teksta_krasa);
    font-weight: 700;
    display: block;
    padding: 10px;
}
.navigation a:hover{
    color:var(--bazes_saites_krasa);
}





/* hederis */